.home--gallery {
  display: block;
  text-align: left;
  align-items: center;
}

.home--section {
  border-style: solid;
  border-color: #21222a;
  border-width: 2px;
  text-align: center;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
}

.cards--content:hover {
  cursor: pointer;
}
