.blackjack--father {
  display: flex;
  justify-content: center;
  align-items: center;
}
.blackjack-game {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  background-image: url("images/table.png");
  background-size: cover;
  text-align: center;
  padding: 8px;
  font-weight: bold;
  color: white;
  width: 60%;
  min-height: 70vh;
  max-height: 82vh;
}

#black-title {
  color: goldenrod;
  margin: 3px;
}

#message-par {
  font-style: italic;
  margin: 0px;
}

.blackjack--playerHandToRender {
  display: flex;
  justify-content: center;
}
.blackjack--dillerHandToRender {
  display: flex;
  justify-content: center;
}

.blackjack--card {
  padding-right: 5px;
}

.blackjack--start-btn {
  align-items: center;
}
